td {
    border: 3px solid black;;
    width: 100px;
    height: 100px;
    margin: 0px;
}

td:hover {
    background: orange;
}

table {
    border: 6px solid black;
    cursor: pointer;
    margin: auto;
    background-color: gray;

}

.cellText {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h4 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
